body, html{
    width: 100%;
    height:100%;
    padding: 0%;
    margin: 0%;
}
/*For Tabs*/
.tabs-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    align-items: center;
}

.home-tab, .menu-tab, .shop-tab, .aboutUs-tab{
    font-size: 17px;
}

/*For Home Page (Usar tipografía Pacífico)*/
.home-container{
    height: 100vh;
    min-width: 0;
    display: flex;
}

.home-right{
    background-color: rgb(255, 182, 7);
    width: 50%;
}

.home-left{
    background:url(s)
    width: 50%;
}